Language            Version
------------------ --------
Python              3.11.6

Package            Version
------------------ --------
beautifulsoup4     4.12.3
certifi            2024.2.2
charset-normalizer 3.3.2
idna               3.7
pip                24.0
requests           2.31.0
setuptools         65.5.0
soupsieve          2.5
urllib3            2.2.1
